absl-py
accelerate==1.8.1
aiohappyeyeballs
aiohttp
aiosignal
alabaster
appdirs==1.4.4
arrow
astroid==2.15.8
asttokens
async-timeout
asyncssh
atomicwrites==1.4.0
attrs
autopep8
babel
backcall
beautifulsoup4
binaryornot
biopython
black
bleach
boltons
Brotli
certifi==2025.7.9
cffi
chardet
charset-normalizer==3.4.2
click
cloudpickle
colorama
coloredlogs
comm
conda
conda-package-handling
conda_package_streaming
contourpy
cookiecutter
cryptography
cycler
cyvcf2
datacache==1.4.1
datasets
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
dill
docstring-to-markdown
docutils
einops
exceptiongroup
executing
fastjsonschema
filelock==3.18.0
flake8
fonttools
frozenlist
fsspec==2025.5.1
gmpy2
grpcio
gtfparse
hf-xet==1.1.5
huggingface-hub==0.33.4
humanfriendly
idna==3.10
imagesize
importlib_metadata
importlib_resources
inflection==0.5.1
intervaltree
ipykernel
ipython
isort
jaraco.classes
jedi
jeepney
jellyfish
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keyring
kiwisolver
lazy-object-proxy==1.11.0
libmambapy
mamba
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.1
matplotlib-inline
mccabe
mdurl
memoized-property==1.0.3
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
mock==5.2.0
more-itertools
mpmath
multidict
multiprocess
munkres==1.1.4
mypy-extensions
natsort
nbclient
nbconvert
nbformat
ncls
nest-asyncio
networkx
ninja==1.11.1.4
numpy==2.0.2
numpydoc
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvshmem-cu12==3.3.9
nvidia-nvtx-cu12==12.6.77
packaging==25.0
pandas
pandocfilters
parso
pathspec
patsy
peft==0.16.0
pexpect
pickleshare
pillow
platformdirs
pluggy
ply
polars==0.20.30
progressbar33==2.4
prompt-toolkit
propcache
protobuf==4.25.3
psutil
ptyprocess
pure-eval
pybedtools
pycodestyle
pycosat
pycparser
pydocstyle
pyensembl
pyflakes
PyGithub
Pygments
PyJWT
pylint==2.17.7
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyOpenSSL
pyparsing
PyQt5==5.15.9
PyQt5-sip==12.12.2
PyQtWebEngine==5.15.4
pyranges
pysam==0.21.0
PySocks
python-dateutil
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pytz
pyuca
pyxdg
PyYAML==6.0.2
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
referencing
regex==2024.11.6
requests==2.32.4
rich
rope
rotary-embedding-torch==0.8.8
rpds-py
Rtree
ruamel.yaml
ruamel.yaml.clib
safetensors==0.5.3
scikit-learn
scipy
seaborn
SecretStorage
sentencepiece==0.2.0
serializable==0.4.1
simplejson==3.20.1
sip
six
snowballstemmer
sorted_nearest
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
stack-data
statsmodels
superqt
sympy
tabulate
tensorboard
tensorboard-data-server
text-unidecode
textdistance
threadpoolctl
three-merge
tinycss2
tinytimer==0.0.0
tokenizers==0.20.3
toml
tomli
tomlkit
toolz
tornado
tqdm==4.67.1
traitlets
transformers==4.46.0
typechecks==0.1.0
typing_extensions==4.14.1
tzdata
ujson
unicodedata2
Unidecode
urllib3==2.5.0
watchdog
wcwidth
webencodings==0.5.1
Werkzeug
whatthepatch
wrapt
wurlitzer
xlsxwriter==3.2.5
xxhash
yapf
yarl
zipp
zstandard==0.23.0
